.box1 {
  border: 50px solid #9b59b6;
  width: 200px;
  padding: 50px;
  margin-bottom: 20px;
}
.box2 {
  border: 50px solid #ecf0f1;
  width: 200px;
  padding: 50px;
  margin-bottom: 20px;
}
.box3 {
  border: 50px solid #f1c40f;
  width: 200px;
  padding: 50px;
  margin-bottom: 20px;
}
