body {
  margin: 0px;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 28px 17px;
  font-weight: 700;
}

nav a:hover {
  color: #1ed760;
}

nav {
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  height: 969px;
  background-color: rgb(41, 65, 171);
}

footer {
  height: 530px;
  background-color: black;
}
